#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding:3% 15%
}
h1{

    font-size: 3em;
    line-height: 1.5;
    font-family: "Montserrat-Black";
    
}

h2{
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    line-height: 1.5;
}

h3{
    font-family:"Montserrat-Bold";
    font-size: 1.75rem;
}

p{
    color: #8f8f8f;

}

a{
   color:inherit

}
/*Navigation Bar*/

.navbar-brand{
    font-family: fantasy;
    font-size: 2.5rem;
}

.navbar{
    padding:0 0 4.5rem 0;
}

.navitem{
    padding: 0 18px;
    color: #fff;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';

    
}

.navbar-nav{

    float: right!important;
}
.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width:60%;
    transform: rotate(25deg);
    position:relative
    
}

/*Feature Section*/

#features{
    padding: 3% 15% 0 15%;
}

.feature-box{

    text-align: center;
    padding: 5%;
}

.icons{
    color:#ef8172
}

/*Testimonial Section*/

#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;


}

.testimonial-image{

    width: 10%;
    border-radius: 100%;
    margin:20px;
}

.carousel-item{
    padding: 5% 15% 5% 15%;

}
#press{

    background-color: #ef8172;
    text-align: center;
    padding-bottom: 0;  
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}

/*Pricing Section*/

#pricing{
    margin: 3%;

}

.pricegroup{
    margin:auto;


}

.buy{
    text-align: center;
}

/*CTA Section*/

#cta{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15% 7% 15%;
    
}

.cta-heading{
    line-height: 1.5;
    font-size: 3.5rem;

}

/*Footer Section*/

#footer{
    background-color: white;
    text-align: center;
    padding: 0 15% 0 15%;
}

.footerbutton{

        margin:3%
}

.footericon{
    margin: 1%;

}
/*Media Query Breakingpoints*/

@media(max-width:1028px) {
.title-image {
    position:static;
    transform:rotate(0);
}
#title{
    text-align: center;
}

}